.dados-pessoais__legend, .dados-endereco__legend, .dados-login__legend {
    font-family: 'Poppins', sans-serif;
    color: #855d0e;
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    border-bottom: 2px solid #855d0e;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
    font-weight: 600;
}